<h1 mat-dialog-title>Создание персонажа</h1>

<div mat-dialog-content class="dialog-content">
  <mat-vertical-stepper [linear]="true" #stepper>
    
    <mat-step [stepControl]="firstStepForm">
      <app-character-name-form [form]="firstStepForm" [(name)]="character.name">
      </app-character-name-form>

      <div class="form-button-container">
        <button class="form-button_margin" mat-button (click)="cancel()">Отмена</button>
        <button class="form-button_margin" mat-raised-button color="primary" matStepperNext>Далее</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="secondStepForm">
      <form [formGroup]="secondStepForm">
        <ng-template matStepLabel>Игровое состояние</ng-template>
        <div class="form-field-container">
          <mat-form-field class="form-field">
            <input matInput placeholder="Класс" formControlName="class"
              [(ngModel)]="character.gameState.class" required>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input matInput placeholder="Уровень" type="number" formControlName="level"
              [(ngModel)]="character.gameState.level" required>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input matInput placeholder="Предыстория" formControlName="background"
              [(ngModel)]="character.gameState.background">
          </mat-form-field>
          <mat-form-field class="form-field">
            <input matInput placeholder="Фракция" formControlName="faction"
              [(ngModel)]="character.gameState.faction" required>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input matInput placeholder="Раса" formControlName="race"
              [(ngModel)]="character.gameState.race" required>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input matInput placeholder="Опыт" type="number" formControlName="experiencePoints"
              [(ngModel)]="character.gameState.experiencePoints">
          </mat-form-field>
        </div>
      </form>

      <app-stepper-middle-buttons (onCanceled)="cancel()"></app-stepper-middle-buttons>
    </mat-step>

    <mat-step [stepControl]="thirdStepForm">
      <form [formGroup]="thirdStepForm">
        <ng-template matStepLabel>Описание персонажа</ng-template>
        <div class="form-field-container">
          <mat-form-field class="form-field">
            <textarea matInput placeholder="Черты характера" formControlName="personalityTraits"
              [(ngModel)]="character.characterDescription.personalityTraits">
            </textarea>
          </mat-form-field>
          <mat-form-field class="form-field">
            <textarea matInput placeholder="Идеалы" formControlName="ideals"
              [(ngModel)]="character.characterDescription.ideals">
            </textarea>
          </mat-form-field>
          <mat-form-field class="form-field">
            <textarea matInput placeholder="Привязанности" formControlName="bonds"
              [(ngModel)]="character.characterDescription.bonds">
            </textarea>
          </mat-form-field>
          <mat-form-field class="form-field">
            <textarea matInput placeholder="Слабости" formControlName="flaws"
              [(ngModel)]="character.characterDescription.flaws">
            </textarea>
          </mat-form-field>
        </div>
      </form>

      <app-stepper-middle-buttons (onCanceled)="cancel()"></app-stepper-middle-buttons>
    </mat-step>
    
    <mat-step [stepControl]="fourthStepForm">
      <form [formGroup]="fourthStepForm">
        <ng-template matStepLabel>Характеристики</ng-template>
        <div class="form-field-container">
          <mat-form-field class="form-field">
            <input matInput placeholder="Сила" type="number" formControlName="strength"
              [(ngModel)]="character.characteristics.strength" required>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input matInput placeholder="Телосложение" type="number" formControlName="constitution"
              [(ngModel)]="character.characteristics.constitution" required>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input matInput placeholder="Ловкость" type="number" formControlName="dexterity"
              [(ngModel)]="character.characteristics.dexterity" required>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input matInput placeholder="Интеллект" type="number" formControlName="intelligence"
              [(ngModel)]="character.characteristics.intelligence" required>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input matInput placeholder="Мудрость" type="number" formControlName="wisdom"
              [(ngModel)]="character.characteristics.wisdom" required>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input matInput placeholder="Обаяние" type="number" formControlName="charisma"
              [(ngModel)]="character.characteristics.charisma" required>
          </mat-form-field>

          <mat-form-field class="form-field">
            <input matInput placeholder="Вдохновение" type="number" formControlName="inspiration"
              [(ngModel)]="character.inspiration" required>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input matInput placeholder="Бонус мастерства" type="number" formControlName="proficiencyBonus"
              [(ngModel)]="character.proficiencyBonus" required>
          </mat-form-field>

          <mat-form-field class="form-field">
            <input matInput placeholder="Пассивная мудрость" type="number" formControlName="passiveWisdom"
              [(ngModel)]="character.passiveWisdom" required>
          </mat-form-field>
        </div>
      </form>

      <app-stepper-middle-buttons (onCanceled)="cancel()"></app-stepper-middle-buttons>
    </mat-step>

    <mat-step [stepControl]="fifthStepForm">
      <form [formGroup]="fifthStepForm">
        <ng-template matStepLabel>Навыки</ng-template>
        <div class="form-field-container">
          <mat-form-field class="form-field">
            <mat-icon matPrefix (click)="character.skills.hasAcrobaticsMastery = !character.skills.hasAcrobaticsMastery">
              {{character.skills.hasAcrobaticsMastery ? 'grade' : 'touch_app'}}
            </mat-icon>
            <input matInput placeholder="Акробатика" type="number" formControlName="acrobatics"
              [(ngModel)]="character.skills.acrobatics" required>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-icon matPrefix (click)="character.skills.hasAnimalHandlingMastery = !character.skills.hasAnimalHandlingMastery">
              {{character.skills.hasAnimalHandlingMastery ? 'grade' : 'touch_app'}}
            </mat-icon>
            <input matInput placeholder="Уход за животными" type="number" formControlName="animalHandling"
              [(ngModel)]="character.skills.animalHandling" required>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-icon matPrefix (click)="character.skills.hasArcanaMastery = !character.skills.hasArcanaMastery">
              {{character.skills.hasArcanaMastery ? 'grade' : 'touch_app'}}
            </mat-icon>
            <input matInput placeholder="Магия" type="number" formControlName="arcana"
              [(ngModel)]="character.skills.arcana" required>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-icon matPrefix (click)="character.skills.hasAthleticsMastery = !character.skills.hasAthleticsMastery">
              {{character.skills.hasAthleticsMastery ? 'grade' : 'touch_app'}}
            </mat-icon>
            <input matInput placeholder="Атлетика" type="number" formControlName="athletics"
              [(ngModel)]="character.skills.athletics" required>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-icon matPrefix (click)="character.skills.hasDeceptionMastery = !character.skills.hasDeceptionMastery">
              {{character.skills.hasDeceptionMastery ? 'grade' : 'touch_app'}}
            </mat-icon>
            <input matInput placeholder="Обман" type="number" formControlName="deception"
              [(ngModel)]="character.skills.deception" required>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-icon matPrefix (click)="character.skills.hasHistoryMastery = !character.skills.hasHistoryMastery">
              {{character.skills.hasHistoryMastery ? 'grade' : 'touch_app'}}
            </mat-icon>
            <input matInput placeholder="История" type="number" formControlName="history"
              [(ngModel)]="character.skills.history" required>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-icon matPrefix (click)="character.skills.hasInsightMastery = !character.skills.hasInsightMastery">
              {{character.skills.hasInsightMastery ? 'grade' : 'touch_app'}}
            </mat-icon>
            <input matInput placeholder="Проницательность" type="number" formControlName="insight"
              [(ngModel)]="character.skills.insight" required>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-icon matPrefix (click)="character.skills.hasIntimidationMastery = !character.skills.hasIntimidationMastery">
              {{character.skills.hasIntimidationMastery ? 'grade' : 'touch_app'}}
            </mat-icon>
            <input matInput placeholder="Запугивание" type="number" formControlName="intimidation"
              [(ngModel)]="character.skills.intimidation" required>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-icon matPrefix (click)="character.skills.hasInvestigationMastery = !character.skills.hasInvestigationMastery">
              {{character.skills.hasInvestigationMastery ? 'grade' : 'touch_app'}}
            </mat-icon>
            <input matInput placeholder="Анализ" type="number" formControlName="investigation"
              [(ngModel)]="character.skills.investigation" required>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-icon matPrefix (click)="character.skills.hasMedicineMastery = !character.skills.hasMedicineMastery">
              {{character.skills.hasMedicineMastery ? 'grade' : 'touch_app'}}
            </mat-icon>
            <input matInput placeholder="Медицина" type="number" formControlName="medicine"
              [(ngModel)]="character.skills.medicine" required>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-icon matPrefix (click)="character.skills.hasNatureMastery = !character.skills.hasNatureMastery">
              {{character.skills.hasNatureMastery ? 'grade' : 'touch_app'}}
            </mat-icon>
            <input matInput placeholder="Природа" type="number" formControlName="nature"
              [(ngModel)]="character.skills.nature" required>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-icon matPrefix (click)="character.skills.hasPerceptionMastery = !character.skills.hasPerceptionMastery">
              {{character.skills.hasPerceptionMastery ? 'grade' : 'touch_app'}}
            </mat-icon>
            <input matInput placeholder="Внимательность" type="number" formControlName="perception"
              [(ngModel)]="character.skills.perception" required>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-icon matPrefix (click)="character.skills.hasPerformanceMastery = !character.skills.hasPerformanceMastery">
              {{character.skills.hasPerformanceMastery ? 'grade' : 'touch_app'}}
            </mat-icon>
            <input matInput placeholder="Выступление" type="number" formControlName="performance"
              [(ngModel)]="character.skills.performance" required>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-icon matPrefix (click)="character.skills.hasPersuasionMastery = !character.skills.hasPersuasionMastery">
              {{character.skills.hasPersuasionMastery ? 'grade' : 'touch_app'}}
            </mat-icon>
            <input matInput placeholder="Убеждение" type="number" formControlName="persuasion"
              [(ngModel)]="character.skills.persuasion" required>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-icon matPrefix (click)="character.skills.hasReligionMastery = !character.skills.hasReligionMastery">
              {{character.skills.hasReligionMastery ? 'grade' : 'touch_app'}}
            </mat-icon>
            <input matInput placeholder="Религия" type="number" formControlName="religion"
              [(ngModel)]="character.skills.religion" required>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-icon matPrefix (click)="character.skills.hasSleightOfHandMastery = !character.skills.hasSleightOfHandMastery">
              {{character.skills.hasSleightOfHandMastery ? 'grade' : 'touch_app'}}
            </mat-icon>
            <input matInput placeholder="Ловкость рук" type="number" formControlName="sleightOfHand"
              [(ngModel)]="character.skills.sleightOfHand" required>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-icon matPrefix (click)="character.skills.hasStealthMastery = !character.skills.hasStealthMastery">
              {{character.skills.hasStealthMastery ? 'grade' : 'touch_app'}}
            </mat-icon>
            <input matInput placeholder="Скрытность" type="number" formControlName="stealth"
              [(ngModel)]="character.skills.stealth" required>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-icon matPrefix (click)="character.skills.hasSurvivalMastery = !character.skills.hasSurvivalMastery">
              {{character.skills.hasSurvivalMastery ? 'grade' : 'touch_app'}}
            </mat-icon>
            <input matInput placeholder="Выживание" type="number" formControlName="survival"
              [(ngModel)]="character.skills.survival" required>
          </mat-form-field>
        </div>
      </form>

      <app-stepper-middle-buttons (onCanceled)="cancel()"></app-stepper-middle-buttons>
    </mat-step>

    <mat-step [stepControl]="sixthStepForm">
      <form [formGroup]="sixthStepForm">
        <ng-template matStepLabel>Физическое состояние</ng-template>
        <div class="form-field-container">
          <mat-form-field class="form-field">
            <input matInput placeholder="Класс доспеха" type="number" formControlName="armorClass"
              [(ngModel)]="character.physicalState.armorClass" required>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input matInput placeholder="Инициатива" type="number" formControlName="initiative"
              [(ngModel)]="character.physicalState.initiative" required>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input matInput placeholder="Скорость" type="number" formControlName="speed"
              [(ngModel)]="character.physicalState.speed" required>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input matInput placeholder="Максимальное здоровье" type="number" formControlName="maxHitPoints"
              [(ngModel)]="character.physicalState.maxHitPoints" required>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input matInput placeholder="Текущее зоровье" type="number" formControlName="currentHitPoints"
              [(ngModel)]="character.physicalState.currentHitPoints">
          </mat-form-field>
          <mat-form-field class="form-field">
            <input matInput placeholder="Временное здоровье" type="number" formControlName="temporaryHitPoints"
              [(ngModel)]="character.physicalState.temporaryHitPoints">
          </mat-form-field>

          <mat-form-field class="form-field">
            <input matInput placeholder="Тип костей очков здоровья" formControlName="hitDiceType"
              [(ngModel)]="character.physicalState.hitDice.type" required>
          </mat-form-field>
          <mat-form-field class="form-field">
            <input matInput placeholder="Число костей очков здоровья" type="number" formControlName="hitDiceTotal"
              [(ngModel)]="character.physicalState.hitDice.total" required>
          </mat-form-field>

          <mat-form-field class="form-field">
            <input matInput placeholder="Число успешных бросков" type="number" formControlName="successes"
              [(ngModel)]="character.physicalState.deathSaves.successes">
          </mat-form-field>
          <mat-form-field class="form-field">
            <input matInput placeholder="Число неудачных бросков" type="number" formControlName="failures"
              [(ngModel)]="character.physicalState.deathSaves.failures">
          </mat-form-field>
        </div>
      </form>
      
      <app-stepper-middle-buttons (onCanceled)="cancel()"></app-stepper-middle-buttons>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Добавлние атак</ng-template>
      <app-attacks-table-container [attacks]="character.attacks"></app-attacks-table-container>
      <app-stepper-middle-buttons (onCanceled)="cancel()"></app-stepper-middle-buttons>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Добавлние навыков</ng-template>
      <app-proficiencies-table-container
        [proficiencies]="character.proficiencies">
      </app-proficiencies-table-container>
      <app-stepper-middle-buttons (onCanceled)="cancel()"></app-stepper-middle-buttons>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Добавлние языков</ng-template>
      <app-strings-table-container
        [elements]="character.languages"
        [addStringDialogTitle]="LANGUAGES_ADD_STRING_DIALOG_TITLE">
      </app-strings-table-container>
      <app-stepper-middle-buttons (onCanceled)="cancel()"></app-stepper-middle-buttons>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Добавлние особенностей</ng-template>
      <app-strings-table-container
        [elements]="character.features"
        [addStringDialogTitle]="FEATURES_ADD_STRING_DIALOG_TITLE">
      </app-strings-table-container>
      <app-stepper-middle-buttons (onCanceled)="cancel()"></app-stepper-middle-buttons>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Добавлние снаряжения</ng-template>
      <app-equipment-table-container
        [equipment]="character.equipment">
      </app-equipment-table-container>
      <app-stepper-middle-buttons (onCanceled)="cancel()"></app-stepper-middle-buttons>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Добавление</ng-template>
      <div class="form-button-container">
        <button class="form-button_margin" mat-button (click)="cancel()">Отмена</button>
        <button class="form-button_margin" mat-button matStepperPrevious>Назад</button>
        <button class="form-button_margin" mat-raised-button color="primary"
          (click)="addCharacter()" [disabled]="!availabeToAddCharacter()">Добавить</button>
      </div>
    </mat-step>

  </mat-vertical-stepper>
</div>